body {
    background-color: #eee;
}

.transport {
    padding: 10px;
    float: left;
}

.drag_drop_help {
    padding: 10px;
    float: right;
}

.drop_indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,255,255,0.75);
    z-index: 100;
    display: none;
}

.drop_indicator div {
    color: darkblue;
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    margin: 30px;
    border: 20px dashed darkblue;
    border-radius: 20px;
    height: 90%;

    /* Vertically center the text: */

    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}