<div id="container">
    <div>
        Horizontal Zoom <input id="horizontalZoomSelector" type="range" min="1" max="200" ng-model="horizontalZoomLevel">
    </div>
    <div>
        Vertical Zoom <input id="verticalZoomSelector" type="range" min="1" max="200" ng-model="verticalZoomLevel">
    </div>

    <div id="main">
    <div id="piano_roll">
        <ul class="octave" ng-repeat="octave in getNumber(10) track by $index">
            <li ng-repeat="key in keys" ng-class="key.keyClass" ng-style="pianoRollNoteStyle" ng-attr-title="{{key.name+(10-octave-1)}}">&nbsp;</li>
        </ul>
    </div>
    <div id="midi_editor">
        <div id="layout">
            <div class="octave" ng-repeat="octave in getNumber(10) track by $index" ng-style="noteWidthStyle">
                <div class="key" ng-repeat="key in keys" ng-class="key.rowClass" ng-attr-title="{{key.name+(10-octave-1)}}" data-pitch="{{key.name}}" ng-style="noteRowStyle">
                    <div ng-repeat="measure in getNumber(numMeasures) track by $index" class="measure" ng-style="rowStyle">
                        <div ng-repeat="beat in getNumber(beatsPerMeasure) track by $index" class="beat" ng-dblclick="addNote(measure, beat, key, octave)" ng-style="noteStyle">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="overlay">
            <note data="note" ng-repeat="note in $root.track.notes" title="{{note.pitch+note.octave}}" tabindex="-1"></note>
        </div>
    </div>
    </div>

    <div style="clear:both;"></div>
</div>